.about-us {
  @include cssLock("padding-top", 360, 1920, ($gutter_num*13, $gutter_num*22));
  @include cssLock("padding-bottom", 360, 1920, ($gutter_num*13, $gutter_num*18));

  @include media(xxl) {
    padding-top: $gutter*42;
    padding-bottom: $gutter*18;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media(lg) {
      flex-direction: row;
    }
  }

  &__content {
    width: 100%;

    @include media(lg) {
      width: 50%;
      padding-right: 10%;
    }
  }

  &__title {
    @extend .title;

    color: $special;
    font-family: font-family(mian);
    letter-spacing: $gutter*0.125;
  }

  &__slogan {
    @extend .text;

    color: $slogans;
    text-transform: uppercase;
    letter-spacing: $gutter*0.5;
  }

  &__desc {
    @extend .text;

    margin-top: $gutter*2;
    color: $slider;
    font-weight: 400;
    letter-spacing: $gutter*0.075;
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media(lg) {
      width: 50%;
    }
  }
}