.header {
  @include cssLock("margin-bottom", 360, 1920, ($gutter_num*2, $gutter_num * 8));

  width: 100%;
  display: flex;
  flex-direction: column;

  &__popup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary;

    @include media(xxl) {
      height: $gutter*6;
      font-size: $gutter*3;
    }
  }

  &__content {
    @extend .article;

    @include cssLock("padding", 360, 1920, ($gutter_num * 1, $gutter_num * 2));

    margin: 0;
    color: $light;
    letter-spacing: $gutter*0.0875;
    font-family: font-family(texts);
  }

  &__privacy {
    font-weight: 800;
    letter-spacing: $gutter*0.0875;

    @include media(lg) {
      pointer-events: initial;
    }

    &:hover {
      color: $special;
      transition: $transition;
    }
  }

  &__button {
    @extend .button;

    height: $gutter*3;
    width: $gutter*7;
    margin-right: $gutter*4;
    border: none;
    border-radius: $gutter*0.25;
    background-color: $primary;
    margin-bottom: $gutter*0.5;
    margin-top: $gutter*0.5;
    text-transform: uppercase;
    padding-left: $gutter*0.75;
    padding-right: $gutter*0.75;

    @include media(xxl) {
      width: $gutter*9;
      height: $gutter*4;
      font-size: $gutter*2.5;
    }

    @include media(lg) {
      pointer-events: initial;
      cursor: pointer;
    }

    &:hover {
      background-color: $special;
      color: $light;
      transition: $transition;
    }
  }

  &__wrapper {
    @include cssLock("padding-top", 360, 1920, ($gutter_num * 2, $gutter_num * 5));

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include cssLock("max-width", 360, 1920, ($gutter_num * 8, $gutter_num * 20));
    @include cssLock("max-height", 360, 1920, ($gutter_num * 4, $gutter_num * 9));
  }

  &__navigation {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: $gutter*20;
  }
}