.hero {
  width: 100%;
  background-color: $primary;

  &__title {
    @extend .headline;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*5, $gutter_num*12.5));

    color: $secondary;
    font-weight: 400;
    letter-spacing: $gutter*0.175;
  }

  &__slogan {
    @extend .text;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*3, $gutter_num*6.25));
    @include cssLock("max-width", 360, 1920, ($gutter_num*24, $gutter_num*65));

    color: $ultralight;
    letter-spacing: $gutter*0.5;
    text-transform: uppercase;
  }

  &__content {
    @extend .text;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*5, $gutter_num*19.75));
    @include cssLock("margin-bottom", 360, 1920, ($gutter_num*5, $gutter_num*19.75));

    color: $special;
    letter-spacing: $gutter*0.5;
    line-height: $gutter*4;
  }

  &__photo {
    @include cssLock("right", 360, 640, ($gutter_num*-1, $gutter_num*2));
    @include cssLock("top", 360, 640, ($gutter_num*16, $gutter_num*24));

    position: absolute;
    z-index: 2;

    @include media(sm) {
      top: $gutter*11;
    }

    @include media(md) {
      top: $gutter*11;
      right: $gutter*-4;
    }

    @include media(lg) {
      top: $gutter*2.75;
      right: $gutter*-4;
    }

    @include media(ml) {
      right: $gutter*-7.5;
      top: $gutter*-3.7;
    }

    @include media(xl) {
      right: $gutter*-6.5;
      top: $gutter*3;
    }

    @include media(dtp) {
      right: $gutter*-7.5;
      top: $gutter*21;
    }

    @include media(xxl) {
      right: $gutter*-9.5;
      top: $gutter*2;
    }
  }

  &__logo {
    @include cssLock("width", 360, 640, ($gutter_num*16, $gutter_num*19));

    height: auto;


    @include media(sm) {
      width: $gutter*35;
    }

    @include media(md) {
      width: $gutter*45;
    }

    @include media(lg) {
      width: $gutter*65;
    }

    @include media(xxl) {
      width: $gutter*110;
    }
  }

  &__wrapper {
    @include cssLock("padding-bottom", 360, 1920, ($gutter_num*3, $gutter_num*18));

    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__picture {
    position: relative;
  }

  &__icon {
    @include cssLock("max-width", 360, 1920, ($gutter_num*6, $gutter_num*45));
    @include cssLock("left", 360, 1920, ($gutter_num*-0.51, $gutter_num*-7));
    @include cssLock("bottom", 360, 1920, ($gutter_num*-2.5, $gutter_num*-22));

    position: absolute;
    height: auto;
  }
}