.hero {
  width: 100%;
  background-color: $primary;

  &__title {
    @extend .headline;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*5, $gutter_num*12.5));

    color: $secondary;
    font-weight: 400;
    letter-spacing: $gutter*0.175;
  }

  &__slogan {
    @extend .text;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*3, $gutter_num*6.25));
    @include cssLock("max-width", 360, 1920, ($gutter_num*24, $gutter_num*65));

    color: $ultralight;
    letter-spacing: $gutter*0.5;
    text-transform: uppercase;
  }

  &__content {
    @extend .text;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*5, $gutter_num*19.75));
    @include cssLock("margin-bottom", 360, 1920, ($gutter_num*5, $gutter_num*19.75));

    color: $special;
    letter-spacing: $gutter*0.5;
    line-height: $gutter*4;
  }

  &__photo {
    @include cssLock("right", 320, 640, ($gutter_num*-1, $gutter_num*2));
    @include cssLock("top", 320, 640, ($gutter_num*22, $gutter_num*28));

    position: absolute;
    z-index: 2;

    @include media(sm) {
      top: $gutter*17;
    }

    @include media(md) {
      top: $gutter*11;
      right: $gutter*-4;
    }

    @include media(lg) {
      top: $gutter*2.75;
      right: $gutter*-4;
    }

    @include media(ml) {
      right: $gutter*-7.5;
      top: $gutter*-3.7;
    }

    @include media(xl) {
      right: $gutter*-6.5;
      top: $gutter*3;
    }

    @include media(dtp) {
      right: $gutter*-7.5;
      top: $gutter*21;
    }

    @include media(xxl) {
      right: $gutter*-9.5;
      top: $gutter*2;
    }
  }

  &__contact {
    @include cssLock("width", 1280, 1920, ($gutter_num*20, $gutter_num*23.75));
    @include cssLock("height", 1280, 1920, ($gutter_num*29, $gutter_num*32.5));
    @include cssLock("right", 1280, 1920, ($gutter_num*3, $gutter_num*6));
    @include cssLock("top", 1280, 1920, ($gutter_num*20, $gutter_num*40));

    display: none;

    @include media(ml) {
      background-color: $special;
      clip-path: polygon(50% 0%, 100% 0, 100% 75%, 49% 94%, 0% 75%, 0 0);
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      z-index: 2;
    }
  }

  &__paragraph {
    @extend .article;

    color: $light;
    letter-spacing: $gutter*0.075;
    font-family: font-family(texts);
    padding-top: $gutter*1;
    padding-bottom: $gutter*1;
    max-width: 70%;
    margin-top: $gutter*1;
  }

  &__button {
    @extend .article;

    @include cssLock("padding-left", 1280, 1920, ($gutter_num*4, $gutter_num*4.5));
    @include cssLock("padding-right", 1280, 1920, ($gutter_num*4, $gutter_num*4.5));
    @include cssLock("padding-top", 1280, 1920, ($gutter_num*0.6, $gutter_num*1.2));
    @include cssLock("padding-bottom", 1280, 1920, ($gutter_num*0.6, $gutter_num*1.2));

    font-family: font-family(texts);
    background-color: $ultralight;
    color: $special;
    text-transform: uppercase;
    border: none;
    scroll-padding-bottom: $gutter*1.2;
    letter-spacing: $gutter*0.375;
    font-weight: 800;
    margin-top: $gutter*1;

    &:hover {
      color: $ultralight;
      background-color: $slider;
      transition: $transition*0.75;
    }
  }

  &__logo {
    @include cssLock("width", 320, 640, ($gutter_num*12, $gutter_num*19));

    height: auto;


    @include media(sm) {
      width: $gutter*35;
    }

    @include media(md) {
      width: $gutter*45;
    }

    @include media(lg) {
      width: $gutter*65;
    }

    @include media(xxl) {
      width: $gutter*110;
    }
  }

  &__wrapper {
    @include cssLock("padding-bottom", 360, 1920, ($gutter_num*3, $gutter_num*18));

    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__picture {
    position: relative;
  }

  &__icon {
    @include cssLock("max-width", 360, 1920, ($gutter_num*6, $gutter_num*45));
    @include cssLock("left", 360, 1920, ($gutter_num*-0.51, $gutter_num*-7));
    @include cssLock("bottom", 360, 1920, ($gutter_num*-2.5, $gutter_num*-22));

    position: absolute;
    height: auto;
  }
}