.solutions {
  width: 100%;

  &__wrapper {
    width: 100%;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @extend .text;

    @include cssLock("padding-top", 360, 1920, ($gutter_num*5, $gutter_num*15));
    @include cssLock("padding-bottom", 360, 1920, ($gutter_num*5, $gutter_num*15));

    text-transform: uppercase;
    text-align: center;
    color: $secondary;
    letter-spacing: $gutter*0.5;
  }

  &__stats {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: auto;

    @include media(xs) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include media(lg) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

    @include media(xs) {
      width: 50%;
    }
  }

  &__icon {
    @include cssLock("width", 360, 1920, ($gutter_num*12, $gutter_num*22));
    @include cssLock("height", 360, 1920, ($gutter_num*22, $gutter_num*35));
  }

  &__counter {
    @extend .large;

    @include cssLock("top", 360, 1920, ($gutter_num*10, $gutter_num*17));

    position: absolute;
    color: $secondary;
    letter-spacing: $gutter*0.75;
  }

  &__description {
    @extend .icons;

    @include cssLock("max-width", 360, 1920, ($gutter_num*16, $gutter_num*20));
    @include cssLock("margin-top", 360, 1920, ($gutter_num*1.5, $gutter_num*3));

    color: $slogans;
    letter-spacing: $gutter*0.125;
  }

  &__button {
    @extend .button;

    @include cssLock("padding-left", 360, 1920, ($gutter_num, $gutter_num*3));
    @include cssLock("padding-right", 360, 1920, ($gutter_num, $gutter_num*3));
    @include cssLock("padding-bottom", 360, 1920, ($gutter_num, $gutter_num*1));
    @include cssLock("padding-top", 360, 1920, ($gutter_num, $gutter_num*1));

    display: block;
    background-color: $secondary;
    max-width: $gutter*19;
    text-align: center;
    color: $light;
    text-transform: uppercase;
    margin: $gutter*5 auto;
    letter-spacing: $gutter*0.375;
  }
}