.hero {
    width: 100%;
    background-color: $primary;
  
    &__title {
      @extend .headline;
  
      color: $dark;
      font-weight: 400;
    }
  
    &__content {
      @extend .text;
  
      @include cssLock("margin-top", 360, 1920, ($gutter_num*5, $gutter_num*19.75));
      @include cssLock("margin-bottom", 360, 1920, ($gutter_num*5, $gutter_num*19.75));
  
      color: $special;
    }

    &__slogan {
        @extend .text;
    
        @include cssLock("margin-top", 360, 1920, ($gutter_num*2, $gutter_num*6));
    
        color: $light;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: $gutter*0.125;
    }
  
    &__photo {
      @include cssLock("right", 360, 1920, ($gutter_num*0.5, $gutter_num*2.5));
      @include cssLock("top", 360, 1920, ($gutter_num*11, $gutter_num*24));
  
      position: absolute;
      z-index: 2;
  
      @include media(md) {
        top: $gutter*16;
      }
  
      @include media(lg) {
        top: $gutter*18;
      }
  
      @include media(xl) {
        top: $gutter*20;
      }
  
      @include media(xxl) {
        right: $gutter*2.5;
        top: $gutter*30;
      }
    }
  
    &__logo {
      @include cssLock("max-width", 360, 1920, ($gutter_num*12, $gutter_num*55));
      @include cssLock("max-height", 360, 1920, ($gutter_num*20, $gutter_num*85));
    }
  
    &__wrapper {
      @include cssLock("padding-bottom", 360, 1920, ($gutter_num*3, $gutter_num*18));
  
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  
    &__picture {
      position: relative;
    }
  
    &__icon {
      @include cssLock("max-width", 360, 1920, ($gutter_num*6, $gutter_num*45));
      @include cssLock("max-height", 360, 1920, ($gutter_num*6, $gutter_num*45));
      @include cssLock("left", 360, 1920, ($gutter_num*-0.51, $gutter_num*-7));
      @include cssLock("bottom", 360, 1920, ($gutter_num*-2.5, $gutter_num*-22));
  
      position: absolute;
    }
  }