.form {
  width: 100%;

  &__contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @include media(sm) {
      flex-direction: row;
    }
  }

  &__desc {
    @include cssLock("height", 360, 1920, ($gutter_num*4, $gutter_num*7.5));
    @include cssLock("max-width", 360, 1920, ($gutter_num*61.75, $gutter_num*85));
    @include cssLock("margin-top", 360, 1920, ($gutter_num*2.5, $gutter_num*3));

    background-color: $secondary;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: $gutter*0.25 solid $light;
    width: 100%;

    @include media(sm) {
      width: 45%;
    }
  }

  &__message {
    @include cssLock("margin-top", 360, 1920, ($gutter_num*1.5, $gutter_num*2));

    display: flex;
    flex-direction: column;
  }

  &__content {
    @include cssLock("margin-top", 360, 1920, ($gutter_num*2.5, $gutter_num*3));
    @include cssLock("height", 360, 1920, ($gutter_num*4, $gutter_num*7.5));

    background-color: $secondary;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: $gutter*0.25 solid $light;
    width: 100%;

    &--special {
      @include cssLock("height", 360, 1920, ($gutter_num*8, $gutter_num*15));
    }
  }

  ::placeholder {
    @extend .button;

    color: $light;
    font-weight: 400;
    letter-spacing: $gutter*0.08;
  }

  &__confirm {
    @include cssLock("margin-top", 360, 1920, ($gutter_num*3, $gutter_num*11));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media(md) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__rodo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: $gutter*0.375 solid $light;
    outline: none;
    transition-duration: 0.3s;
    background-color: $secondary;
    cursor: pointer;
    width: $gutter*4;
    height: $gutter*4;

    @include media(lg) {
      border: $gutter*0.625 solid $light;
    }

    &:checked {
      background-color: $light;
    }

    &:checked+&__description::before {
      content: "\2713";
      display: block;
      color: red;
      position: absolute;
      left: $gutter*0.4;
      top: $gutter*0.5;
    }
  }

  &__text {
    @include cssLock("max-width", 360, 1920, ($gutter_num*36, $gutter_num*59));
    @include cssLock("margin-left", 360, 1920, ($gutter_num*0.75, $gutter_num*3.5));
  }

  &__description {
    @extend .article;

    @include cssLock("margin-bottom", 360, 1920, ($gutter_num*1.5, $gutter_num*4));

    font-family: font-family(texts);
    color: $light;
    letter-spacing: $gutter*0.075;
    display: block;
  }

  &__button {
    @extend .button;

    @include cssLock("margin-bottom", 360, 1920, ($gutter_num*1.5, $gutter_num*2));

    width: $gutter*22;
    height: $gutter*6;
    background-color: $light;
    color: $secondary;
    font-weight: 800;
    border: none;
    border-radius: $gutter*0.375;
    letter-spacing: $gutter*0.375;
    text-transform: uppercase;
    margin-top: $gutter*3.5;

    @include media(md) {
      margin-top: 0;
    }

    &:hover {
      background-color: $special;
      color: $light;
      transition: $transition*1.2;
    }
  }

  &__link {
    @extend .article;

    @include cssLock("margin-bottom", 360, 1920, ($gutter_num*1.5, $gutter_num*2));

    font-family: font-family(texts);
    color: $light;
    letter-spacing: $gutter*0.075;
    font-weight: 800;

    &:hover {
      color: $special;
      transition: $transition;
    }
  }
}