.menu {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;

   &__link {
       @extend .button;

       text-transform: uppercase;
       letter-spacing: $gutter*0.125;
       color: $special;

       @include media(lg) {
           pointer-events: initial;
       }

       &:hover {
           color: $light;
           transition: $transition;
       }
   }

   &__icon {
       width: $gutter*2;
       height: $gutter*2;
       color: $slider;
   }
}