.rules {
  @include cssLock("margin-top", 360, 1920, ($gutter_num*5.5, $gutter_num*22.5));
  @include cssLock("padding-top", 360, 1920, ($gutter_num*4, $gutter_num*15));
  @include cssLock("padding-bottom", 360, 1920, ($gutter_num*4, $gutter_num*15));

  background-color: $secondary;
  text-align: center;

  &__title {
    @extend .title;

    @include cssLock("max-width", 360, 1920, ($gutter_num*50, $gutter_num*150));

    color: $slogans;
    margin: 0 auto;
    letter-spacing: $gutter*0.125;
    font-weight: 400;
  }

  &__list {
    @include cssLock("margin-top", 360, 1920, ($gutter_num*3, $gutter_num*8));

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include media(xs) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__item {
    @include cssLock("margin-top", 360, 1920, ($gutter_num*2, $gutter_num*2.5));
    @include cssLock("max-width", 360, 1920, ($gutter_num*25, $gutter_num*35));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    @include cssLock("width", 360, 1920, ($gutter_num*10, $gutter_num*22));
    @include cssLock("height", 360, 1920, ($gutter_num*10, $gutter_num*30));
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__description {
    @extend .icons;

    @include cssLock("margin-top", 360, 1920, ($gutter_num*4, $gutter_num*1));

    color: $light;
    font-family: font-family(texts);
    font-weight: 300;
    letter-spacing: $gutter*0.125;

    @include media(xxl) {
      font-size: $gutter*4;
    }
  }

  &__content {
    @extend .text;

    @include cssLock("max-width", 360, 1920, ($gutter_num*35, $gutter_num*83));
    @include cssLock("margin-top", 360, 1920, ($gutter_num*5, $gutter_num*19));

    margin-left: auto;
    margin-right: auto;
    color: $light;
    letter-spacing: $gutter*0.075;
    font-weight: 400;
  }
}