*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0;
  background-color: $primary;
  line-height: 1.45;
}

.gmp_map_opts,
.gmpMapDetailsContainer,
.gmp_MapPreview {
  height: 100% !important;
  min-height: 300px;
}

xmp {
  padding: 15px;
  background: #001d2b;
  border-radius: 16px;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: 100%;
  display: block;
}

.wrap {
  width: 100%;
}