$gutter: 8px;
$gutter_num: 8;
$transition: 0.4s;

/** Colors */
$primary: #cfcbc8;
$secondary: #535050;
$light: #e2dfdd;
$special: #214577;
$dark: #000;
$slider: #666;

$media: (xs: 568px,
    sm: 768px,
    md: 992px,
    lg: 1025px,
    xl: 1440px,
    dtp: 1920px,
    xxl:1921px);

$font-family: (main: "freight-text-pro",
    texts: "source-sans-pro"
);